.hero {
  border-radius: 0% 100% 0% 100% / 77% 41% 59% 23%;
  background: linear-gradient(225deg, #ddd7cd, #fffff4);
  box-shadow: -20px 20px 60px #d0cbc2, 20px -20px 60px #ffffff;
  padding: "12px";
}
.HeroContainer {
  border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
}
.Container {
  background: "linear-gradient(225deg, #7a4a1c, #905821)";
  width: "100%";
}
